.list-cell {
    -fx-background-color: #2c2f33;
    -fx-background-radius: 10;
    -fx-padding: 5;
    -fx-text-fill: white;
}

.message-item {
    -fx-background-color: #2c2f33;
    -fx-background-radius: 5;

}